*
{
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}


/**********************Start of navigation**********************/
.navbar {
    padding: 22px 0;
}
/* this propert to cancel the background color of nav until scrolling*/
.bg-dark {
    background-color: transparent !important;
}
.navbar ul li a {
    color: white !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all 0.5s ease-in;
    background: transparent !important;
}
.navbar ul li a:hover , .navbar ul li a:focus {
    color: deepskyblue !important;
    background: none !important;
} 
.navbar-toggler{
    transition: all 0.5s ease-in;

}

.navbar-toggler:hover{
   background-color: rgb(12, 105, 136);
}
.location {
    border: 1px solid white;
    border-radius: 50px;
}
.clear {
    clear: both;
}
/**********************End of navigation**********************/

/**********************start of slider**********************/
.slider {
    width: 100%;
    height: 700px;
    background-image: url(../images/slider.jpg);
    background-size: cover;
    background-position: center;
}
.slider-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    position: relative;
}
.slider-content {
    position: absolute;
    top: 39%;
    width: 100%;
}
.icons .fa {
    font-size: 35px;
    color: white;
    margin-right: 7px;
}
.cta-div {
    margin-top: 30px;
    
}
.btn1{
    padding: 10px 30px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid white;
    border-top-left-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right: -6px;
    
}
.btn1:hover{
    text-decoration: none;
    color: white;
    background-color: red;
    border: red;

}
.btn2{
    padding: 10px 30px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.5s ease-in;
}
.btn2:hover{
    text-decoration: none;
    color: white;
    background-color: deepskyblue;
    border: deepskyblue;

}
.social-networks a.fa {
    border: 1px solid white;
    padding: 10px;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 2px;
    transition: all 0.5s ease-in;
}
.social-networks a.fa:hover {
    background-color: deepskyblue;
    text-decoration: none;
    border: deepskyblue;
}

.slider .text , .slider .typed-cursor {
    color: white;
    display: inline;
    font-size: 45px;
    text-transform: uppercase;
    
}
/**/
.primary {
    color: red;
}
.secondary {
    background-color: #34495e !important;
}
.typed-cursor {
    opacity: 1;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite ;
    -moz-animation: blink 0.7s infinite ;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/****************start of services***************/
.service-wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
}
.service-wrap::before , .service-wrap::after {
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background: #34495e;
}
.service-wrap::before {
    top: -37px;
    left: 100%
}
.service-wrap:hover:before {
    left: -27px;
    opacity: 1;
}

.service-wrap::after {
    right: 100%;
    bottom: -37px;
}

.service-wrap:hover:after {
    right: -27px;
    opacity: 1;
}
.service-wrap:hover {
    color: white;
}
.service-icon i {
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}
.service-wrap:hover .service-icon i {
    transform: rotate(360deg);
}
.service-wrap h3 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
}
.service-wrap p {
    font-size: 13px;
}
.img-wrapper img{
    width: 101%;
}
/***************************start of work*******************************/
.row.no-gutters [class*=col-]
{
    padding-left: 0;
    padding-right: 0;
}
.img-wrapper
{
    overflow: hidden;
}
.img-wrapper img {
    transition: transform 0.5s ease;
}
.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
} 
/*******end of services*******/
/***************************************start of team style*******************************/
.team-member {
    margin: 50px 25px;
}
.team-member-info {
    padding: 10px 0 30px 0;
}
.team-member-name {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
    text-transform: capitalize;
}
.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 15px;
    text-transform: capitalize;
}
.social-list {
    padding-left: 0;
}
.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}
.social-list i {
    font-size: 17px;
}
.icon-gray i {
    color: #64707b;
}
/***************************************end of team style*******************************/

/**************************start of testimonials***********************/
.carousel-inner img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid white;
    padding: 5px;
}
.testimonials {
    background-image: url(../images/reviews.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
    padding-bottom: 155px;
}
.testimonials .carousel-indicators {
    bottom: -60px;
}
.border-bottom {
    width: 40px;
    height: 2px;
    color: white;
    margin: 0 auto;
}
.carousel-inner p {
    font-size: 16px;
    margin-top: 45px;
    letter-spacing: 1px;

}
/************************start of faqs******************/
#accordionExample .card {
    box-shadow: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}
#accordionExample .card-header {
    padding: 0;
    border: none;
    border-radius: 10px;
}
#accordionExample .panel-title a {
    display: block;
    padding: 25px 35px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: #34495e;
    border: none;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordionExample .panel-title a:after ,
#accordionExample .panel-title a.collapsed:after {
    content: "\f068";
    font-family: fontawesome;
    width: 40px;
    line-height: 32px;
    border-radius: 50%;
    background: #34495e;
    text-align: center;
    font-size: 15px;
    color: white;
    border: 5px solid white;
    position: absolute;
    top: 16px;
    left: -20px;
    transition: all 0.5s ease 0s;
    
}
#accordionExample .panel-title a.collapsed:after {
    content: "\f067";
}
#accordionExample .panel-title a:hover:after ,
#accordionExample .panel-title a.collapsed:hover:after {
    transform: rotate(360deg);
}
#accordionExample .card-body {
    padding: 15px 25px;
    background: #ebebeb;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 25px;
    border-top: none;
    margin-top: none;
    position: relative;
}
.card-header a {
    text-decoration: none !important;
    font-size: 15px !important;
    font-weight: normal;

}
.freeimage {
    margin-left: 80px;
    margin-top: -45px;
}

/***********************end of faqs ********************/
/***********************start of video*********************/
.video-area {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) , url(../images/video.jpg);
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin-top: 40px;
}
.play {
    background: #fff  url(../images/play-btn.png) no-repeat 68% 50%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 0px 20px rgba(0,167,221,.5);
    transition: all .5s ease-in ;
}
.play:hover {
    box-shadow: 0px 0px 15px 20px rgba(0, 84, 111, .5);
}
.video-container {
    position: relative;
    padding-bottom: 54.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: -130px;
    display: none;

}
/***********************end of video*********************/
/*******start of blogs****/
.latest-news-area {
    margin-top: 40px;
}
.latest-news-wrap {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .1)
}
.news-img {
    position: relative;
    
   
}
.news-img img {
    width: 101%;
}
.news-img:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all .5s;
}
.latest-news-wrap:hover .news-img:before {
    opacity: .5;
    transform: scale(1);
}

.deat {
    background: #f89406 none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
    height: 70px;
    padding: 10px;
}
.deat span {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.news-content {
    padding: 20px;
    margin-left: -20px;
}
.news-content i {
    font-size: 18px;
    display: inline-block;

}
.news-content .fa {
    padding: 10px 10px;
    cursor: pointer;
} 
.news-content .fa-facebook {
    color: #3b5995;
}
.news-content .fa-twitter {
    color: #3084b4;
}
.news-content .fa-linkedin {
    color: #0077b5;
}
.news-content .fa-youtube {
    color: #f00;
}
.news-content .fa-whatsapp {
    color: #34af23;
}
.news-content p {
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 20px;
    padding: 10px;

}
.news-content a {
    font-size: 14px;
    background-color: #34495e;
    padding: 10px 20px;
    color: white;
    transition: all .5s;
}
.news-content a:hover {
    font-size: 14px;
    border: 1px solid #34495e;
    border-top-right-radius: 20px;
    background-color: transparent;
    color: #34495e; 
    text-decoration: none;

}
/*******************end of blogs*****************/
/*******************start of counters*****************/
.stat {
    background-image: url(../images/cover-bg-1.jpg);
    background-position: center;
    padding-top: 180px;
    padding-bottom: 180px;
    color: white;
    background-attachment: fixed;
    margin-top: 100px;
}
.stat-items i {
    font-size: 80px;
}
.stat-items h2 {
    font-weight: bolder;
    font-size: 42px;
    color: deepskyblue;
}
.stat p{
    font-weight: bold;
    letter-spacing: 1px; 
}

/*******************end of counters*****************/
/**************start of form**************/
.contact-infos
{
    float: left;
    width: 100%;
    margin-top: 90px;
    background: darkcyan;
    padding-top: 35px;
    padding-bottom: 35px;
 
    
}

.contact-infos .fa
{
    color: white;
    font-size: 26px;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    
}

.contact-infos p
{
    color: white;
    margin-top: 15px;
    
}
 button.btn
{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 12px 23px;
    border: 1px solid #b6b8bb;
    border-radius: 15px;
    background-color: #b6b8bb;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0;
    
}

/*************end of form*************/
/********************start of footer*******************/
.footer {
    background: url(../images/Black-Wood-Footer-Background.jpg);
    background-attachment: fixed;
    padding-top: 145px;
    padding-bottom: 120px;
    background-size: cover;
    color: white;
}
.social-icon a
{
    margin: 0 16px 20px 16px;
    display: inline-block;
    
}
.footer .fa
{
    font-size: 30px;
    color: deepskyblue;
    width: 80px;
    height: 80px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: white;
    line-height: 2;
    border: 10px solid #34495e;
    text-align: center;
    transition: all 0.7s ease-in;    
}

.social-icon a:hover .fa
{
    border: 10px solid white;
    transform: rotate(360deg);
  }

.bordernow
{
    width: 40px;
    border-bottom: 2px solid white;
    margin: 0 auto;
    margin-top: 20px;
    }

/********************end of footer*******************/

























